@model Licenta_Movie_Recommender.Models.Movie

@{
    ViewData["Title"] = Model.Title;
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <img src="@Model.PosterUrl" class="img-fluid rounded shadow-lg" alt="@Model.Title" />
        </div>

        <div class="col-md-8">
            <h1 class="display-4 fw-bold">@Model.Title</h1>
            <h4 class="text-muted mb-4">@Model.Genres.Replace("|", ", ")</h4>

            <hr />

            <div class="card bg-light mt-4">
                <div class="card-body">
                    <h5 class="card-title">Ce parere ai despre acest film?</h5>

                    @if (User.Identity.IsAuthenticated)
                    {
                        <form asp-controller="Movies" asp-action="SaveRating" method="post" class="d-inline-block">
                            <input type="hidden" name="movieId" value="@Model.Id" />

                            <div class="mb-3">
                                <label class="form-label">Acorda o nota (1-5):</label>
                                <select name="rating" class="form-select" required>
                                    <option value="">Alege nota...</option>
                                    <option value="1">1 Stea (Slab)</option>
                                    <option value="2">2 Stele</option>
                                    <option value="3">3 Stele (Mediu)</option>
                                    <option value="4">4 Stele</option>
                                    <option value="5">5 Stele (Capodopera)</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary">Salveaza Nota</button>
                        </form>
                        <br />

                        <form asp-controller="Movies" asp-action="MarkAsWatched" method="post" class="d-inline-block mt-2">
                            <input type="hidden" name="movieId" value="@Model.Id" />
                            <button type="submit" class="btn btn-success">✓ Am vazut acest film</button>
                        </form>

                        <form asp-controller="Movies" asp-action="AddToWatchlist" method="post" class="d-inline-block ms-2 mt-2">
                            <input type="hidden" name="movieId" value="@Model.Id" />
                            <button type="submit" class="btn btn-outline-secondary">+ Watchlist</button>
                        </form>
                        
                    }
                    else
                    {
                        <p class="text-danger">Trebuie sa fii logat pentru a interactiona cu filmul.</p>
                        <a asp-controller="Account" asp-action="Login" class="btn btn-success">Intra in cont</a>
                    }
                </div>
            </div>

        </div>
    </div>
</div>